appdirs
appnope
asgiref
astroid
autopep8
azure-common
azure-core
azure-storage-blob
azure-storage-common
backcall
beautifulsoup4
boto3
botocore
CacheControl
cachetools
certifi
cffi
chardet
cryptography
cssutils
cycler
decorator
distlib
Django==3.1.13
django-admin-autocomplete-filter==0.6.1
django-admin-json-editor==0.2.0
django-admin-rangefilter==0.6.3
django-cacheops==4.2
django-common-helpers==0.9.2
django-cors-headers==3.2.1
django-cron==0.5.1
django-currentuser==0.5.1
django-deprecate-fields==0.1.1
django-dynamic-preferences==1.9
django-filter==2.2.0
django-health-check==3.12.1
django-hint==0.1.5
django-ipware==2.1.0
django-kiwi @ git+https://gitlab.com/luisccf/django-kiwi/@81bb3294ca6418527bcd9b06bba4a7a52912b3c4
django-lightweight-tests==0.0.1
django-mssql-backend==2.8.0
django-nested-admin==4.0.2
django-rest-passwordreset==1.1.0
django-simple-history==3.0.0
django-split-settings==1.0.0
django-sql-utils==0.6.1
django-sslserver==0.22
django-summernote==0.8.11.6
django-user-agents==0.4.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
docutils
drf-nested-routers
et_xmlfile
factory-boy
Faker
filelock
firebase-admin
fonttools
freezegun
funcy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
httplib2
idna
importlib-metadata
ipdb
ipython
ipython-genutils
isodate
isort
jdcal
jedi
jmespath
jsonfield
kiwisolver
lazy-object-proxy
matplotlib
mccabe
msgpack
msrest
newrelic
numpy
oauthlib
openpyxl
packaging
parameterized
parso
pbr
persisting-theory
pexpect
pickleshare
pika
Pillow
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydash
Pygments
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyodbc
pyparsing
python-dateutil
python-monkey-business
pytz
PyYAML
redis
requests
requests-oauthlib
rollbar
rsa
s3transfer
sentry-sdk
six
soupsieve
sqlparse
stevedore
text-unidecode
tqdm
traitlets
typed-ast
typing-extensions
ua-parser
Unidecode
uritemplate
urllib3
user-agents
virtualenv
virtualenv-clone
virtualenvwrapper
w3lib
wcwidth
wrapt
zipp