appdirs
appnope
asgiref
astroid
autopep8
azure-common
azure-core
azure-storage-blob
azure-storage-common
backcall
beautifulsoup4
boto3
botocore
CacheControl
cachetools
certifi
cffi
chardet
cryptography
cssutils
cycler
decorator
distlib
Django
django-admin-autocomplete-filter
django-admin-json-editor
django-admin-rangefilter
django-cacheops
django-common-helpers
django-cors-headers
django-cron
django-currentuser
django-deprecate-fields
django-dynamic-preferences
django-filter
django-health-check
django-hint
django-ipware
django-kiwi @ git+https://gitlab.com/luisccf/django-kiwi/@81bb3294ca6418527bcd9b06bba4a7a52912b3c4
django-lightweight-tests
django-mssql-backend
django-nested-admin
django-rest-passwordreset
django-simple-history
django-split-settings
django-sql-utils
django-sslserver
django-summernote
django-user-agents
djangorestframework
djangorestframework-jwt
docutils
drf-nested-routers
et_xmlfile
factory-boy
Faker
filelock
firebase-admin
fonttools
freezegun
funcy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
httplib2
idna
importlib-metadata
ipdb
ipython
ipython-genutils
isodate
isort
jdcal
jedi
jmespath
jsonfield
kiwisolver
lazy-object-proxy
matplotlib
mccabe
msgpack
msrest
newrelic
numpy
oauthlib
openpyxl
packaging
parameterized
parso
pbr
persisting-theory
pexpect
pickleshare
pika
Pillow
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydash
Pygments
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyodbc
pyparsing
python-dateutil
python-monkey-business
pytz
PyYAML
redis
requests
requests-oauthlib
rollbar
rsa
s3transfer
sentry-sdk
six
soupsieve
sqlparse
stevedore
text-unidecode
tqdm
traitlets
typed-ast
typing-extensions
ua-parser
Unidecode
uritemplate
urllib3
user-agents
virtualenv
virtualenv-clone
virtualenvwrapper
w3lib
wcwidth
wrapt
zipp